{:paths   ["src" "public"]
 :deps    {refx/core {:git/url "https://github.com/ferdinand-beyer/refx.git"
                      :git/sha "bdfbb4401a2fcc1258ecc3544e0e290548fc3ea3"
                      :deps/root "core"}
           lilactown/helix {:mvn/version "0.1.9"}
           metosin/reitit-schema {:mvn/version "0.5.18"}
           metosin/reitit-frontend {:mvn/version "0.5.18"}
           metosin/reitit-spec {:mvn/version "0.5.18"}}
 :aliases {:dev {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.20.6"}
                               cider/cider-nrepl    {:mvn/version "0.28.6"}}}}}
