;; shadow-cljs configuration
{:deps     {:aliases [:dev]}
 :dev-http {8000 "public"}
 :builds   {:app {:target :browser
                  :modules {:core {:init-fn app.core/init}}
                  :devtools {:reload-strategy :full
                             :preloads [app.dev]}}
            :login {:target :browser
                    :modules {:login {:init-fn app.login/init}}
                    :devtools {:reload-strategy :full
                               :preloads [app.dev]}}}}
